.metals/
.idea/
.ipynb_checkpoints/

venv/
__pycache__/
event_data/
Data_Warehouse_Project_Template/

.DS_Store
.Rhistory

*.csv
*.json
*.JSON
*.odt
*.pdf
*.gz
*.zip
*.xml
*.bak

*.iml
*.cfg
*.pem

*solution.ipynb
*Solution.ipynb
DataEngineering/2-CloudDataWarehouses/Lesson4/Data_Warehouse_Project/test.ipynb
DataEngineering/3-DataLakesWithSpark/Lesson5/test.ipynb
